<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="navigation.itnav.com.terminal" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".PaypalSetUpActivity"
            android:label="@string/title_activity_paypal_set_up" >
        </activity>
        <activity
            android:name=".LanguageActivity"
            android:label="@string/title_activity_language" >
        </activity>
        <activity
            android:name=".ViewUsersActivity"
            android:label="@string/title_activity_viewUsers" >
        </activity>
        <activity
            android:name=".CreateUserActivity"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name=".EditUserActivity"
            android:label="@string/title_activity_edit_user" >
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name=".SplachScreenActivity"
            android:label="@string/title_activity_splach_screen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
    </application>

</manifest>
