<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="navigation.itnav.com.terminal" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaypalSetUpActivity"
            android:label="@string/title_activity_paypal_set_up" >
        </activity>
        <activity
            android:name=".LanguageActivity"
            android:label="@string/title_activity_language" >
        </activity>
        <activity
            android:name=".ViewUsersActivity"
            android:label="@string/title_activity_viewUsers" >
        </activity>
        <activity
            android:name=".CreateUserActivity"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment" >
        </activity>
    </application>

</manifest>
